.main{
background-color: aquamarine;
width: 200px;
height: 200px;
position: absolute;
top: 200px;
left: 500px;
}
.red{
background-color: red;
display: inline-block;
position: absolute;
width: 100px;
height: 100px;
left: 0%;
top: 0%;
}
.red:hover{
  transform: rotate(90deg);
  transition:3s;
}
.yellow{
  background-color: yellow;
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 0%;
}
.yellow:hover{
  transform: rotate(90deg);
  transition:3s;
}
.blue{
background-color: blue;  
display: inline-block;
position: absolute;
width: 100px;
height: 100px;
left:0%;
top: 50%;
}
.blue:hover{
  transform: rotate(90deg);
  transition:3s;
}
.green{
background-color: green;  
display: inline-block;  
position: absolute;
width: 100px;
height: 100px;
left:50%;
top: 50%;
}
.green:hover{
  transform: rotate(90deg);
  transition:3s;
}
.main p{
text-align: center;
margin-top: 75px;
}
