header{
  text-align: center;
}
p .lorem{
 width: 200px;
}
form{
  width: 100px;
}
.submit:hover
{
background-color: aqua;
transition: 0.7s;
border-color: aqua;
}
 #container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
article{
 text-align: center;
 width: 500px;
}
article p{
  font-style: italic;
  color: blue;

}